
$android-default-key-color: #0091EA !default;
$android-default-key-color-light: lighten($android-default-key-color,40%);

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    $proportion: 1.5;
    transform: scale3d($proportion,$proportion, $proportion);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.android {
    ng-key a{
        color: $android-default-key-color;
        width: $key-size;
        height: $key-size;
        border-radius: $key-size/2;
        background: $key-button-color;

        &:active {
            animation-duration: .5s;
            animation-fill-mode: both;
            animation-name: pulse;
            background: $android-default-key-color-light;
        }

        &:hover {
            opacity: 1;
            background: $android-default-key-color-light;
        }
    }

    .keypad-display{
        color: $android-default-key-color;
        border-bottom: 2px solid $android-default-key-color;
    }
}
