
$ios-default-key-color: white !default;
$ios-default-empty-key-color: lighten(gray,30%) !default;
$ios-default-border-color: lighten(gray,40%) !default;
$ios-default-key-text-color: darken(gray,20%) !default;


$key-padding-bottom: 15px;

.ios {
    ng-key {
        padding-top: 0px;
        padding-bottom: $key-padding-bottom;
        background: $ios-default-key-color;
        width: 100%/$column-number - 1%;
        height: $key-size;
        border: 1px solid $ios-default-border-color;

        a {
            color: $ios-default-key-text-color;
            height: $key-size + $key-padding-bottom;

            &:hover{
                background: lighten($ios-default-key-text-color,65%);
            }
        }

        &.empty {
            background: lighten($ios-default-key-text-color, 50%);

            a:hover:not(.ng-hide) {
                background: lighten($ios-default-key-text-color,65%);
            }
        }
    }
}
